/* source key position labels */
#include "zmk-helpers/key-labels/36.h"

/* map Cantor-38's extra keys */
#define X_MB &kp F2 &kp F3  // thumb row, upper
#define X_LH &bootloader  // thumb row, left
#define X_RH &kp F1  // thumb row, right

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/* use 5-column layout for Zen */
ZMK_APPLY_MATRIX_TRANSFORM(default_transform)
